.ip_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background-white);
  padding: 20px 40px;
  border-radius: 10px;
  color: #666666;
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 20rem;
  min-width: 8rem;
}