section {
  border: 1px solid #dcdcdc;
  border-radius: 20px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blogs-page {
  flex-direction: row;
  gap: 24px;
  align-items: start;
}

.main-column {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-left, .sidebar-right {
  flex: 1;
  min-height: 100%;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}



.site-info li{
  justify-content: start;
}

/* 小屏折叠侧栏 */
@media (max-width: 960px) {
  .sidebar-left { display: none; }
  .sidebar-right { display: none; }
}