button {
  border: none;
  cursor: pointer;
}

.function-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: flex-end;
  padding: 4px 8px;
  background-color: var(--background-white);
  font-size: 15px;
  height: 40px;
  border-radius: 20px;
  transition: background-color 0.2s;
}
.function-button:hover {
  background-color: #efefef;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #67acf8;
  transition: background-color 0.2s;
}
.send-button:hover {
  background-color: #536af5;
}