.ip-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background);
  padding: 20px;
  border-radius: 10px;
  color: var(--text-color);
  box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 8rem;
}

.poem {
  margin-top: 12px;
  font-style: italic;
  color: #555;
  border-left: 4px solid #ccc;
  padding-left: 12px;
}

.globe-container {
  border-radius: 10px;
  /* background-color: #393939; */
}