.post-card {
  display:flex;
  flex-direction: column;
  width: 400px;

  border: 1px solid #eee;
  border-radius: 20px;
  padding: 0 10px;
}

.post-title {
  margin: 5px 0;
}

.category {
  margin: 0;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  padding: 4px 6px;
}
.category:hover {
  cursor: pointer;
  background-color: #efefef;
}

.abstract {
  margin: 5px 0;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
